<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>ユーザー情報削除完了画面</title>
</head>
<body>
    <div layout:fragment="content">
    <p style="text-align: center; border: solid 1px black;">ユーザー情報削除</p>

    <p>
        削除が完了しました。<br>
        トップページに戻ります。<br>
    </p>

    <form role="form" action="/" th:action="@{/}" method="">
        <input type="submit" value="トップページへ">
    </form>
    </div>
</body>
</html>