<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTile">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>退会確認画面</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="general_content_bar">退会確認画面</div>
		<p>退会しますか？</p>
		<th:block th:object="${session.LoginUser}">
			<form role="form" action="/mypageUpdate/delete/Complete"
			     th:action="@{/mypageUpdate/delete/Complete}" method="post">
			     <input type="hidden" name="id" th:value="*{id}">
			     <input type="submit" value="退会する" class="btn btn-outline-danger">
			</form>
		</th:block>
	</div>
</body>
</html>