<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/LayoutTest">
<head>
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>マイページ画面(一般ユーザー)</title>
</head>
<body>
    <div layout:fragment="content">
    <div style="border: solid 1px black; width: 500px; height: 300px;">
        <p>ユーザー情報</p>
        <th:block th:object="${session.LoginUser}">
        	氏名:<span th:text="*{name}"></span><br>
            ID：<span th:text="*{id}"></span>&emsp;&emsp;
            年齢：<span th:text="*{age}"></span><br>
            性別：<span th:text="*{gender}"></span>&emsp;&emsp;
            生年月日：<span th:text="*{birthday}"></span><br>
            住所：<span th:text="*{address}"></span>&emsp;&emsp;
            メールアドレス：<span th:text="*{email}"></span>&emsp;&emsp;&emsp;
            <form action ="/AdminUpdate/Check" method = "post" >
    		<input type = "hidden" name = "name" th:value = "*{name}">
    		<input type="submit" value="変更" class="btn btn-primary">
    		</form>
        </th:block>
        <p>購入履歴</p>
        <div style="border: solid 1px black; width: 450px;">
            <table>
                <tr>
                    <th>購入日</th><th>配送日</th><th>商品名</th><th>アーティスト</th>
                    <th>商品媒体</th><th>価格</th><th>レコード会社</th>
                </tr>
                <th:block th:each="items : ${purchase}">
                    <tr>
                    	<td><span th:text="${items.purchase_date}">2</span></td>
                        <td><span th:text="${items.delivery_date}">3</span></td>
                        <td><span th:text="${items.pro_name}">1</span></td>
                        <td><span th:text="${items.artist}">2</span></td>
                        <td><span th:text="${items.media}">3</span></td>
                        <td><span th:text="${items.price}">4</span></td>
                        <td><span th:text="${items.label}">4</span></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
    </div>
</body>
</html>