<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイページ画面(一般ユーザー)</title>
</head>
<body>
    <div style="border: solid 1px black; width: 500px; height: 300px;">
        <p>ユーザー情報</p>
        <th:block th:object="${session.LoginUser}">
            ID：<span th:text="*{id}"></span>&emsp;&emsp;
            年齢：<span th:text="*{age}"></span><br>
            性別：<span th:text="*{gender}"></span>&emsp;&emsp;
            生年月日：<span th:text="*{birthday}"></span><br>
            住所：<span th:text="*{address}"></span>&emsp;&emsp;
            メールアドレス：<span th:text="*{email}"></span>&emsp;&emsp;&emsp;&emsp;
            <a href="/" th:href="@{/〇(〇=${〇})}">
                <button type="submit">変更</button>
            </a>
        </th:block>
        <p>購入履歴</p>
        <div style="border: solid 1px black; width: 450px;">
            
        </div>
    </div>
</body>
</html>