<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品情報一覧画面</title>
</head>
<body>
    検索：

    <form role="form" action="/" th:action="@{/}" method="/">
        <input type="text" name="product" th:field="*{}" th:errorclass="fieldError">
    </form>

    <p>カテゴリー名一覧</p>
    <table>
        <tr>
            <th>No</th><th>タイトル</th><th>アーティスト</th><th>発売日</th><th>価格</th>
        </tr>
        <th:block th:each="items : ${}">
        <tr>
            <td><span th:text="${items.}">1</span></td>
            <td><span th:text="${items.}">2</span></td>
            <td><span th:text="${items.}">3</span></td>
            <td><span th:text="${items.}">4</span></td>
            <td><span th:text="${items.}">5</span></td>
        </tr>
        </th:block>
    </table>

</body>
</html>