<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/LayoutTest">
<head>
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>商品内容詳細画面</title>
</head>
<body>
    <div layout:fragment="content">
    <div id="general_content_bar">商品内容詳細画面</div>
	   <!-- このformの遷移先は商品一覧のコントローラのURLパターンです。よろしくお願いします。 -->
	       <form role="form" action="/top/general/TopPage" th:action="@{/top/general/TopPage}" method="post">
			 <input type="submit" value="戻る">
		   </form>
		 <th:block th:object="${session.product}">
		  <p style="text-align: center; border: solid 1px black;" th:text="*{pro_name}">商品タイトル</p>

		  <div style="border: solid 1px black; width: 150px; height: 80px;
		      position: absolute; top: 120px; left: 30px;">(画像)</div>

          <div style="position: absolute; top: 120px; left: 250px;">
		      <span>価格:<span th:text="*{price}"></span>円</span><br>
		      <span>アーティスト：<span th:text="*{artist}"></span></span><br>
		      <span>発売日：<span th:text="*{release_date}"></span></span><br>
		      <form role="form" action="/Purchase/PurchaseCheck" th:action="@{/Purchase/PurchaseCheck}" method="post">
                <input type="submit" value="購入する">
              </form>
		  </div>
		  </th:block>
	   </div>
	</div>
</body>
</html>