<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTile">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>商品購入確定画面</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="content_bar">購入確定</div>
			<p>購入が完了しました。</p>
			<!-- 商品一覧画面へ -->
			<div id="header_beforelogin">
			<form role="form" action="/top/general/TopPageBack" th:action="@{/top/general/TopPageBack}" method="post">
				<input type="submit" value="一覧へ戻る" class="btn btn-outline-warning">
			</form>
			&emsp;
			<!-- マイページへ -->
			<form role="form" action="/mypage/top" th:action="@{/mypage/top}" method="post">
				<input type="submit" value="購入履歴へ" class="btn btn-outline-success">
			</form>
			</div>
	</div>
</body>
</html>