<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/LayoutTest">
<head>
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>ログイン画面</title>
</head>
<body>
    <div layout:fragment="content">
	<th:block th:text = *{msg}></th:block>
	<form role="form" action="/login" th:action="@{/login}" th:object="${loginForm}" method="post">
		氏名：
		  <input type="text" th:field="*{name}">
		  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error-field">error!</span><br>
		パスワード：
		  <input type="password" th:field="*{password}">
		  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error-field">error!</span><br>
		  <input type="submit" value="ログイン画面へ">
	</form>
</div>
</body>
</html>