<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTest">
<head>
<meta charset="UTF-8">
<title>完了画面</title>
</head>
<body>
<div layout:fragment="content">
<div class="container">
<span th:text="${msg}"></span><br>
<form role="form" action="/exec/top" th:action="@{/exec/top}" method="get">
<input type="submit" value="メイン画面へ戻る" class="btn btn-primary">
</form>
</div>
</div>
</body>
</html>