<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTest">
<head>
<meta charset="UTF-8">
<title>完了画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">

</head>
<body>
<div layout:fragment="content">

<div id="Exec_content_bar"><span th:text="${msg}"></span>完了</div>
<span th:text="${msg}"></span>完了しました<br>
<form role="form" action="/exec/top" th:action="@{/exec/top}" method="get">
<input type="submit" value="メイン画面へ戻る" class="btn btn-primary">
</form>
</div>
</body>
</html>