<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>新規会員登録（一般）</title>
</head>
<body>
	<h3>新規会員登録</h3>
	<form role="form" action="/SignUpCheck" th:action="@{/SignUpCheck}"
		th:object="${UserInformationForm}" method="">
		<table class="table table-striped table-bordered">



			<tbody>
			<tr>
			<td colspan=2>クレジットカード番号は0123-4567-8910-1112の形式で入力してください。</td>
			</tr>
				<tr>

					<td>クレジットカード番号</td>
					<td>
						<div class="form-group">
							<input type="text" creditnumber="creditnumber" th:field="*{creditnumber}" /> <span
								th:if="${#fields.hasErrors('creditnumber')}" th:errors="*{creditnumber}"
								th:errorclass="error-field">error!</span>
						</div>
					</td>

				</tr>
				<tr>
				<td colspan=2>有効期限は年/月の形式で入力してください。</td>
				</tr>
				<tr>
					<td>有効期限</td>
					<td>
						<div class="form-group">
							<input type="text" name="age" th:field="*{age}" /> <span
								th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
								th:errorclass="error-field">error!</span>
						</div>
					</td>
				</tr>

				<tr>
					<td>セキュリティコード</td>
					<td>
						<div class="form-group">
							<input type="password" name="security" th:field="*{security}" />
							<span th:if="${#fields.hasErrors('security')}"
								th:errors="*{security}" th:errorclass="error-field">error!</span>
						</div>
					</td>
				</tr>

			</tbody>
		</table>
		<p>
			<input type="submit" value="登録内容確認へ" class="btn btn-primary">
		</p>
	</form>
</body>
</html>