<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTile">
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>新規会員登録完了画面(一般ユーザー)</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="common_content_bar">新規会員登録完了画面</div>
		<p>登録が完了しました。</p>
		<p>ログイン画面でログインしてください。</p>
		<form action="/login" th:action="@{/login}" method="post" th:object="${session.LoginUser}">
			<input type="submit" value="ログイン画面へ" class="btn btn-primary">
		</form>
	</div>
</body>
</html>