<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/LayoutTile">
<head>
<meta charset="UTF-8">
<title>自社商品変更入力画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
<div id="Exec_content_bar">自社商品情報変更</div>

    <form role="form" action="/exec/update" th:action="@{/exec/update}" th:object="${productForm}" method="post">
        商品名：<input type="text" th:field="*{pro_name}">
        <span th:if="${#fields.hasErrors('pro_name')}" th:errors="*{pro_name}" th:errorclass="error-field">error!</span><br>

        アーティスト名：<input type="text"  th:field="*{artist}">
        <span th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}" th:errorclass="error-field">error!</span><br>

        商品媒体：<input type="text"  th:field="*{media}">
        <span th:if="${#fields.hasErrors('media')}" th:errors="*{media}" th:errorclass="error-field">error!</span><br>

        商品価格：<input type="text"  th:field="*{price}">
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="error-field">error!</span><br>

        発売日：<input type="text"  th:field="*{release_date}">
        <span th:if="${#fields.hasErrors('release_date')}" th:errors="*{release_date}" th:errorclass="error-field">error!</span><br>

        レコード会社名：<input type="text"  th:field="*{label}">
        <span th:if="${#fields.hasErrors('label')}" th:errors="*{label}" th:errorclass="error-field">error!</span><br>

        在庫数：<input type="text"  th:field="*{stock}">
        <span th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" th:errorclass="error-field">error!</span><br>

        <input type="submit" value="変更確認画面へ">
    </form>
    </div>
</body>
</html>