<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTile">
<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet" th:href="@{/css/style.css}">
<head>
<meta charset="UTF-8">
<title>ヘッダー</title>
</head>
<body>
	<div layout:fragment="header">
		<div class="container">
			<div id="header">
				<div style="margin-left: 80%">
					<th:block th:if="${session.LoginUser == null}">
						<div id="header_beforelogin">
							<form action="/login" method="get">
								<span class="text-end"><input type="submit" value="ログイン" class="btn btn-primary"></span>
							</form>
							&emsp;
							<form action="/SignUp" method="post">
								<span class="text-end"><input type="submit" value="新規登録" class="btn btn-primary"></span>
							</form>
						</div>
					</th:block>

					<th:block th:if="${session.LoginUser != null}">
					<th:block th:object=${session.LoginUser}>
                    <th:block th:switch="*{authority}">
                     <th:block th:case="1">
						<div id="header_afterlogin">
							<form action="/mypage/top" method="post">
								<span class="text-end">
								    <input type="submit" value="マイページ" class="btn btn-primary">
								</span>
							</form>
							&emsp;
							<form action="/logout" method="post">
								<span class="text-end">
								    <input type="submit" value="ログアウト" class="btn btn-primary">
								</span>
							</form>
						</div>
					</th:block>
					<th:block th:case="2">
						<div id="header_afterlogin">
							<form action="/logout" method="post">
								<span class="text-end"><input type="submit" value="ログアウト" class="btn btn-primary"></span>
							</form>
						</div>
					</th:block>
					<th:block th:case="3">
						<div id="header_afterlogin">
							<form action="/logout" method="post">
								<span class="text-end"><input type="submit" value="ログアウト" class="btn btn-primary"></span>
							</form>
						</div>
					</th:block>
					</th:block>
					</th:block>
					</th:block>
				</div>
				<div style="position:absolute; top:17px; left:120px">
                    <img src="/image/flowers.jpg" width="135px" height="135px" alt="画像">
                </div>
				<h1>CATONATA RECORDS</h1>
				<th:block th:if="${session.LoginUser != null}">
					<th:block th:object="${session.LoginUser}">
						<div class="session_user">
							<p class="text-end">
								ようこそ <b><th:block th:text="*{name}"></th:block></b> さん
							</p>
						</div>
					</th:block>
				</th:block>
			</div>
		</div>
	</div>
</body>
</html>
