<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/MenuLayout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="navigation">
	<div id="navidation">
	<font size="4">商品カテゴリー</font>
		<form action="">
		一覧
		</form>
		<form action="">
		・ⅭⅮ
		</form>
		<form action="">
		・ＤＶＤ
		</form>
		<form action="">
		・本/書籍
		</form>
		<form action="">
		・グッズ
		</form>
		</div>
		]
	</div>
</body>
</html>