<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/LayoutTile">
<head>
<meta charset="UTF-8">
<title>ナビゲーション</title>
</head>
<body>
    <div layout:fragment="navigation">
        <div id="navidation">
            <!-- ログインなし -->
            <th:block th:if="${session.LoginUser == null}">
            <div id="navi-name">商品カテゴリー</div>

                <form action="/top/TopPage" method="post">
                    <input type="submit" value="トップページ" class="btn btn-outline-primary" id="navi-button">
                </form>
                <form action="/top/category/search" method="post">
                    <input type="hidden" name="category" value="CD">
                    <input type="submit" value="CD" class="btn btn-outline-primary" id="navi-button">
                </form>
                <form action="/top/category/search" method="post">
                    <input type="hidden" name="category" value="DVD">
                    <input type="submit" value="DVD" class="btn btn-outline-primary" id="navi-button">
                </form>
                <form action="/top/category/search" method="post">
                <input type="hidden" name="category" value="本/書籍">
                    <input type="submit" value="本/書籍" class="btn btn-outline-primary" id="navi-button">
                </form>
               <form action="/top/category/search" method="post">
                    <input type="hidden" name="category" value="グッズ">
                    <input type="submit" value="グッズ" class="btn btn-outline-primary" id="navi-button">
                </form>
            </th:block>
            <th:block th:if="${session.LoginUser != null}">
                <th:block th:object=${session.LoginUser}>
                    <th:block th:switch="*{authority}">
                        <!-- 一般者ユーザー -->
                        <th:block th:case="1">
                            <div id="navi-name">商品カテゴリー</div>
                            <form action="/top/TopPage" method="post">
                                <input type="submit" value="トップページ" class="btn btn-outline-primary" id="navi-button">
                            </form>
                            <form action="/top/category/search" method="post">
                                <input type="hidden" name="category" value="CD">
                                <input type="submit" value="CD" class="btn btn-outline-primary" id="navi-button">
                            </form>
                            <form action="/top/category/search" method="post">
                                <input type="hidden" name="category" value="DVD">
                                <input type="submit" value="DVD" class="btn btn-outline-primary" id="navi-button">
                            </form>
                            <form action="/top/category/search" method="post">
                <input type="hidden" name="category" value="本/書籍">
                    <input type="submit" value="本/書籍" class="btn btn-outline-primary" id="navi-button">
                </form>
               <form action="/top/category/search" method="post">
                    <input type="hidden" name="category" value="グッズ">
                    <input type="submit" value="グッズ" class="btn btn-outline-primary" id="navi-button">
                </form>
                        </th:block>
                        <!-- 管理者ユーザー -->
                        <th:block th:case="2">
                        <div id="navi-name">管理者メニュー</div>
                            <form action="/Admin/Top">
                                <input type="submit" value="トップページ" class="btn btn-outline-primary" id="navi-button">
                                <input type=hidden name="name" value=*{name}>
                                <input type=hidden name="password" value=*{password}>
                            </form>
                            <div id="navi-name">～新規登録～</div>
                            <form action="/AdminRegister" th:action="@{/AdminRegister}" method="post">
                                <input type="submit" value="一般ユーザー" class="btn btn-outline-primary" id="navi-button">
                            </form>
                            <form action="/AdminRegister/Exec" th:action="@{/AdminRegister/Exec}" method="post">
                                <input type="submit" value="経営者ユーザー" class="btn btn-outline-primary" id="navi-button">
                            </form>
                            <div id="navi-name">情報削除</div>
                            <form action="/exec/select">
                                <input type="submit" value="商品" class="btn btn-outline-primary" id="navi-button">
                            </form>
                        </th:block>
                        <!-- 経営者ユーザー -->
                        <th:block th:case="3">
                        <div id="navi-name">経営者メニュー</div>
                            <form action="/exec/top">
                                <input type="submit" value="トップページ" class="btn btn-outline-primary" id="navi-button">
                            </form>
                            <div id="navi-name">～商品情報～</div>
                            <form action="/exec/register" method="get">
                                <input type="submit" value="新規登録" class="btn btn-outline-primary" id="navi-button">
                            </form>
                            <form action="/exec/select" method="get">
                                <input type="submit" value="削除" class="btn btn-outline-primary" id="navi-button">
                            </form>
                            <form action="/AdminUpdate/Exec" th:object="${session.LoginUser}">
                                <input type="hidden" name="name" th:value="*{name}">
                                <input type="hidden" name="password" th:value="*{password}">
                                <input type="submit" value="ユーザー情報更新" class="btn btn-outline-primary" id="navi-button">
                            </form>
                            <form action="/ProceedsCheck">
                                <input type="hidden" name="label" th:value="*{label}">
                                <input type="submit" value="売上確認" class="btn btn-outline-primary" id="navi-button">
                            </form>
                        </th:block>
                    </th:block>
                </th:block>
            </th:block>
        </div>
    </div>
</body>
</html>