<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>経営者トップページ(商品管理画面)</title>
</head>
<body>
        検索：
        <form role="form" action="/" th:action="@{/}" method="post">
            <input type="text" name="product" th:field="*{}" th:errorclass="fieldError">
        </form>

        <p>商品一覧</p>
        <table>
            <tr>
                <th>No</th><th>タイトル</th><th>アーティスト名</th><th>商品媒体</th>
                <th>価格</th><th>レコード会社名</th><th>在庫数</th><th>変更</th><th>削除</th>
            </tr>
            <th:block th:each="items : ${}">
                <tr>
                    <td><span th:text="${items.}">1</span></td>
                    <td><span th:text="${items.}">2</span></td>
                    <td><span th:text="${items.}">3</span></td>
                    <td><span th:text="${items.}">4</span></td>
                    <td><span th:text="${items.}">5</span></td>
                    <td><span th:text="${items.}">6</span></td>
                    <td><span th:text="${items.}">7</span></td>
                    <td>
                        <a href="/" th:href="@{/}">
                            <button type="submit">変更</button>
                        </a>
                    </td>
                    <td>
                        <a href="/" th:href="@{/}">
                            <button type="button">削除</button>
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
</body>
</html>