
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTile">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>商品登録確認画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<div id="Exec_content_bar">自社商品登録</div>
		<p>以下の内容で登録します。よろしいですか？</p>
		<form action="/exec/register/execute" method="post" th:object="${session.proForm}">
			商品名：<span th:text="*{pro_name}"></span><br>
			アーティスト名：<span th:text="*{artist}"></span><br>
			商品媒体：<span th:text="*{media}"></span><br>
			商品価格：<span th:text="*{price}"></span><br>
			レコード会社名：<span th:text="*{label}"></span><br>
			在庫数：<span th:text="*{stock}"></span><br>
			<p>
				<input type="submit" value="登録">
			</p>
		</form>
		<form role="form" action="/exec/register/back" th:action="@{/exec/register/back}" method="post">
			<input type="submit" value="戻る">
		</form>
	</div>
</body>
</html>