<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTile">
<head>
<meta charset="UTF-8">
<title>ユーザー情報変更確認画面（経営者）</title>
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}">
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<div id="admin_content_bar">ユーザー情報変更確認画面（経営者）</div>
		<p>この社員の情報を更新しますか?</p>
		<table class="table table-striped table-bordered">
			<th:block th:object="${session.eif}">
				<tr>
					<td>氏名</td>
					<td><span th:text="*{name}"></span></td>
				</tr>
				<tr>
					<td>レコード会社</td>
					<td><span th:text="*{label}"></span></td>
				</tr>
				<tr>
					<td>パスワード</td>
					<td><span th:text="*{password}"></span></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><span th:text="*{email}"></span></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><span th:text="*{address}"></span></td>
				</tr>
				<tr>
					<td>振込口座番号</td>
					<td><span th:text="*{banknumber}"></span></td>
				</tr>
				<tr>
					<td>支店名</td>
					<td><span th:text="*{bankname}"></span></td>
				</tr>
			</th:block>
		</table>

		<form role="form" action="/AdminUpdate/ExecComplete" th:action="@{/AdminUpdate/ExecComplete}" method="post">
				<input type="submit" value="変更する" class="btn btn-primary">
		</form>
		<form role="form" action="/AdminUpdate/ExecBack" th:action="@{/AdminUpdate/ExecBack}" method="post">
				<input type="submit" value="変更画面に戻る" class="btn btn-primary">
		</form>
	</div>
</body>
</html>