<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTile">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>トップ画面</title>
</head>
<body>
<div layout:fragment="content">
    <div id="content_bar">検索</div><br>
    	<form action="/top/search" th:action = "@{${send}}" method="post">
			<input type=text name="msg" value = "商品名またはアーティスト名を入力してください" style="width:600px; height:30px;"size="20">
			&emsp;
			<input type="submit" value="検索" class="btn btn-outline-primary">
		</form><br>
    <div id="content_bar">商品一覧</div>
    <table class="table table-striped table-bordered">
        <tr>
			<th>商品名</th>
			<th>アーティスト</th>
			<th>商品媒体</th>
			<th>価格</th>
			<th>発売日</th>
			<th>レコード会社</th>
			<th>在庫</th>
		</tr>
	<th:block th:each="item : ${allproduct}">
		<tr>
			<td>
						<th:block th:if="*{item.stock >= '1'}">
							<a th:href="@{/Purchase/ProductDetail(pro_id=*{item.pro_id})}">
							<span  th:text="*{item.pro_name}">商品名</span></a>
						</th:block>
						<th:block th:if="*{item.stock == '0'}">
							<span  th:text="*{item.pro_name}">商品名</span>
						</th:block>
					</td>
					<td th:text="*{item.artist}"></td>
					<td th:text="*{item.media}"></td>
					<td th:text="*{item.price}"></td>
					<td th:text="*{item.release_date}"></td>
					<td th:text="*{item.label}"></td>
					<td th:text="*{item.stock}"></td>
             </tr>
        </th:block>
    </table>
</div>
</body>
</html>