<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップ画面</title>
</head>
<body>
    検索：
   <form action="/top/search" method="post">
			<input type=text name="msg" value = "商品名またはアーティスト名を入力してください"> <input type="submit" value="検索"
				class="btn btn-primary"><br>
		</form>

    <p>商品一覧</p>
    <table>
        <tr>
				   	<th>商品名</th>
				   	<th>アーティスト</th>
				   	<th>商品媒体</th>
				   	<th>価格</th>
				   	<th>発売日</th>
				   	<th>レコード会社</th>
				   	<th>在庫</th>
            </tr>
            <th:block th:each="item : ${allproduct}">
            <tr>
                   <td th:text="*{item.pro_id}"></td>
							<td th:text="*{item.pro_name}"></td>
							<td th:text="*{item.artist}"></td>
							<td th:text="*{item.media}"></td>
							<td th:text="*{item.price}"></td>
							<td th:text="*{item.release_date}"></td>
							<td th:text="*{item.label}"></td>
							<td th:text="*{item.stock}"></td>
              </tr>
        </th:block>
    </table>
    <form action ="/top/category/search" method = "post" >
    <input type = "hidden" name = "category" value = "CD">
    <input type="submit" value="CD" class="btn btn-primary">
    </form>
    <form action ="/top/category/search" method = "post" >
    <input type = "hidden" name = "category" value = "DVD">
    <input type="submit" value="DVD" class="btn btn-primary">
    </form>

</body>
</html>