<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTest">
<head>
<meta charset="UTF-8">
<title>削除商品選択画面</title>
</head>
<body>
	<div layout:fragment="content">
	<p style="text-align: center; border: solid 1px black; margin-left: 15%;">商品削除確認画面</p>
		<form action="" method="">
			<input type=text name=""> <input type="submit" value="検索"
				class="btn btn-primary"><br>
		</form>
		削除する商品を選択してください。<br>
		<font size="4">＜商品一覧＞</font>
		<form action="" method="">
			<table border="1">
				<tr>
					<th>チェック</th>
					<th>No</th>
					<th>タイトル</th>
					<th>アーティスト名</th>
					<th>発売日</th>
					<th>価格</th>
				</tr>
				<th:block th:each="items : ${}">
					<tr>
						<td><input type="checkbox"></td>
						<td><span th:text="${items.prono}">商品番号</span></td>
						<td><span th:text="${items.proname}">商品名</span></td>
						<td><span th:text="${items.artist}">アーティスト名</span></td>
						<td><span th:text="${items.release_date}">発売日</span></td>
						<td><span th:text="${items.price}">価格</span></td>
					</tr>
			</table>
			<input type="submit" value="削除確認画面へ" class="btn btn-primary">
		</form>
	</div>
</body>
</html>