<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTile">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>完了画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div layout:fragment="content">
			<div id="admin_content_bar">
				<span th:text="${msg}"></span>
			</div>
			<!--
			<p>
				<span th:text="${msg}"></span>
			</p>
			-->
			<form action="/Admin/Top" th:action="@{/Admin/Top}" method="post" th:object="${session.LoginUser}">
				<input type="hidden" name="name" th:value="*{name}">
				<input type="hidden" name="password" th:value="*{password}">
				<input type="submit" value="管理者メイン画面へ" class="btn btn-outline-success">
			</form>
		</div>
	</div>
</body>
</html>