<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutTest">
<head>
<meta charset="UTF-8">
<title>完了画面</title>
</head>
<body>
	<div class="container">
		<div layout:fragment="content">
			<h3>
				<span th:text="${msg}"></span>完了
			</h3>
			<p>
				<span th:text="${msg}"></span>が完了しました
			</p>
			<form action="/Admin/Top" th:action="@{/Admin/Top}" method="post"
				th:object="${session.LoginUser}">
				<input type="hidden" name="name" th:value="*{name}"> <input
					type="hidden" name="password" th:value="*{password}"> <input
					type="submit" value="管理者メイン画面へ" class="btn btn-primary">
			</form>
		</div>
	</div>
</body>
</html>