<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
		<title>新規会員登録（経営者）</title>
	</head>
	<body>
		<h3>新規会員登録</h3>
		<form role="form" action="/AdminRegister/ExecCheck" th:action="@{/AdminRegister/ExecCheck}"
						 th:object="${execInformationForm}" method="get">
							<table class="table table-striped table-bordered">

								<tbody>
									<tr>
										<td>氏名</td>
										<td>
											<div class="form-group">
											<input type="text" name="name" th:field="*{name}" />
											<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
											th:errorclass="error-field"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td>レコード会社</td>
										<td>
											<div class="form-group">
											<input type="text" name="label" th:field="*{label}" />
											<span th:if="${#fields.hasErrors('label')}" th:errors="*{label}"
											th:errorclass="error-field"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td>パスワード</td>
										<td>
										<div class="form-group">
										<input type="password" name="password" th:field="*{password}" />
										 <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
										th:errorclass="error-field"></span>
										</div>
										</td>
									</tr>

									<tr>
										<td>メールアドレス</td>
										<td>
										<div class="form-group">
										<input type="text" name="mail" th:field="*{mail}" />
										<span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"
										th:errorclass="error-field"></span>
										</div>
										</td>


									</tr>

									<tr>
										<td>住所</td>
										<td>
										<div class="form-group">
										<input type="text" name="address" th:field="*{address}" />
										<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
										th:errorclass="error-field"></span>
										</div>
										</td>
									</tr>

									<tr>
										<td>振込先口座番号</td>
										<td>
										<div class="form-group">
									 	<input type="text" name="banknumber" th:field="*{banknumber}" />
										<span th:if="${#fields.hasErrors('banknumber')}" th:errors="*{banknumber}"
										th:errorclass="error-field"></span>
											 </div>

										</td>
									</tr>

									<tr>
										<td>支店名</td>
										<td>
										<div class="form-group">
										<input type="text" name="bankname" th:field="*{bankname}" />
										<span th:if="${#fields.hasErrors('bankname')}" th:errors="*{bankname}"
										th:errorclass="error-field"></span>
										</div>
										</td>
									</tr>



								</tbody>
							</table>
							<p>
								<input type="submit" value="登録確認画面へ" class="btn btn-primary">
							</p>
						</form>
	</body>
</html>