<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
		<title>新規会員登録確認画面（経営者）</title>
	</head>
	<body>
		<h3>新規会員登録</h3>
			<p>以下の内容を確認の上、登録ボタンを押してください。</p>
							<table class="table table-striped table-bordered">

							<th:block th:object="${session.eif}">
								<tr>
									<td>氏名</td>
									<td><span th:text="*{name}"></span></td>
								</tr>
								<tr>
									<td>レコード会社</td>
									<td><span th:text="*{label}"></span></td>

								</tr>
								<tr>
									<td>パスワード</td>
									<td><span th:text="*{password}"></span></td>
								</tr>
								<tr>
									<td>メールアドレス</td>
									<td><span th:text="*{mail}"></span></td>
								</tr>
								<tr>
									<td>住所</td>
									<td><span th:text="*{address}"></span></td>
								</tr>

							</th:block>

							</table>
							<form role="form" action="/AdminRegister/ExecComplete" th:action="@{/AdminRegister/ExecComplete}"
						 	method="post">
							<p>
							<input type="submit" value="登録" class="btn btn-primary">
							</p>
						</form>
	</body>
</html>