<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品売上確認画面</title>
</head>
<body>
    <p style="text-align: center; border: solid 1px black;">売上確認</p>

    <p>区間検索</p>
<!--
    <form role="form" action="/" th:action="@{/}" method="post">
        <input type="text" name="from_period" id="inputFrom_period" th:field="*{from_period}" th:errorclass="fieldError">
         ～
        <input type="text" name="to_period" id="inputTo_period" th:field="*{to_period}" th:errorclass="fieldError">
        <input type="submit" value="検索">
    </form>
-->

    <table>
        <tr>
            <!-- <th>No</th> -->
            <th>商品名</th>
            <th>価格</th>
            <th>販売総売上</th>
            <th>販売総数</th>
            <!-- <th>税区分</th> -->
        </tr>
        <th:block th:each="items : ${proceedsCheck}">
            <tr>
                <!-- <td><span th:text="${items.}">1</span></td> -->
                <td><span th:text="${items.pro_name}">2</span></td>
                <td><span th:text="${items.price}">3</span></td>
                <td><span th:text="${items.price*items.sold}">4</span></td>
                <td><span th:text="${items.sold}">5</span></td>
                <!-- <td><span th:text="${items.}">内税</span></td> -->
            </tr>
        </th:block>
    </table>
</body>
</html>