* {
	padding: 0px;
	margin: 0px;
}

h1{
	font-family:'Sacramento', cursive;
}
.LayoutTile {
	overflow: hidden;
}

div#container {
	margin: auto;
	padding: 10px;
	width: 900px;
	background-color: white;
}

div#header {
	padding: 30px;
	text-align: center;
	color: black;
	background-color: #BAD3FF;
	/* font-family: 'Century Gothic', serif; */
	padding: 1rem 2rem;
	border: 3px dashed #136FFF;
}

div#navidation {
	padding: 10px;
	margin: 5px;
	float: left;
	width: 100%;
	height: 400px;
	background-color: #DDFFFF;

}

div#footer {
	padding: 20px;
	margin: 10px;
	clear: both;
	height: 10px;
	text-align: center;
	background-color: #C2EEFF;
}

#header_beforelogin {
	display: inline-flex;
}

#header_afterlogin {
	display: inline-flex;
}


#Exec_content_bar {
	background: #00ff00;
	text-align: center;
	border: solid 1px black;
	margin-left: 15%;
	position: relative;
	left: -10px;
}

#admin_content_bar {
	background: #ff0000;
	text-align: center;
	border: solid 1px black;
	margin-left: 15%;

}

#general_content_bar {
	background: blue;
	text-align: center;
	border: solid 1px black;
	margin-left: 15%;

}

#common_content_bar {
	background: yellow;
	text-align: center;
	border: solid 1px black;
	margin: auto;

}

.session_user {
	position: relative;
	left: auto;
	top: 25px;
}

#btn01 {
	font-family: 'Century Gothic', serif;
}

#PRTable {
	width: 85%;
	position: relative;
	top: 15px;
	left: 10px;
	overflow: hidden;
}

#error{
	color:red;
}
