h1 {
	/* font-family:'Sacramento', cursive; */
	color: #000066;
}

.LayoutTile {
	overflow: visible;
}

#container {
	background-color: white;
	margin: auto;
	padding: 10px;
	width: 900px;
}

#header {
	background-color: #BAD3FF;
	color: black;
	padding: 30px;
	text-align: center;
	/* font-family: 'Century Gothic', serif; */
	padding: 1rem 2rem;
	text-align: center;
	padding: 30px;
}

#navidation {
	background-color: #DDFFFF;
	padding: 10px;
	margin: 5px;
	float: left;
	width: 210px;
	height: auto;
}

#footer {
	background-color: #C2EEFF;
	padding: 20px;
	margin: 0px;
	clear: both;
	height: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header_beforelogin {
	display: inline-flex;
}

#header_afterlogin {
	display: inline-flex;
}

#content_bar {
	background: #81cac4;
	color: #1e5862;
	font-weight: bold;
	text-align: center;
	margin: auto;
	height: 40px;
	font-size: 25px;
	margin: auto;
	text-align: center;
	font-weight: bold;
}

#PRTable {
	width: 85%;
	position: relative;
	top: 15px;
	left: 10px;
	overflow: hidden;
}

#error {
	color: red;
}

#navi-button {
	width: 180px !important;
	margin: 5px;
}

#navi-name {
	font-weight: bold;
	text-align: center;
}

a {
	text-decoration: none;
}

.error-field {
	color: red;
}

#sub_content_bar {
	background: #99FFCC;
	color: #2E8B57;
	text-align: center;
	margin: auto;
}

#login_box {
	width: auto;
}

#product_title_bar {
	text-align: center;
	border: solid 1px black;
	height: 30px;
	
}