<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>管理者トップページ</title>
</head>
<body>
    <div layout:fragment="content">
	<!-- 検索：
	<form role="form" action="/" th:action="@{/}" method="/">
		<input type="text" name="product" th:field="*{}" th:errorclass="fieldError">
	</form> -->

	<!-- 一般ユーザー一覧と経営者ユーザー一覧を別々に表示 -->
	<p>一般ユーザー一覧</p>
	<table>
	   <tr>
            <th>No</th><th>ユーザー名</th><th>メールアドレス</th><th>住所</th><th>性別</th><th>権限</th>
            <th>変更</th><th>削除</th>
        </tr>
		<th:block th:each="items : ${session.allGeneralUser}">
			<tr>
				<td><span th:text="${items.id}">1</span></td>
				<td><span th:text="${items.name}">2</span></td>
				<td><span th:text="${items.email}">3</span></td>
				<td><span th:text="${items.address}">4</span></td>
				<td><span th:text="${items.gender}">5</span></td>
				<td><span th:text="${items.authority}">6</span></td>
				<td>
				    <a href="/AdminUpdate" th:href="@{/AdminUpdate}">
				    	<input type="hidden" name="name" th:value="${items.name}">
				    	<input type="hidden" name="password" th:value="${items.password}">
						<input type="submit" value="変更">
				    </a>
			    </td>
				<td>
				    <a href="/AdminDelete" th:href="@{/AdminDelete}">
				    	<input type="hidden" name="name" th:value="${items.name}">
				    	<input type="hidden" name="password" th:value="${items.password}">
						<input type="submit" value="削除">
				    </a>
                </td>
			</tr>
		</th:block>
	</table>

	<p>経営者ユーザー一覧</p>
    <table>
        <tr>
            <th>No</th><th>ユーザー名</th><th>レコード会社名</th><th>メールアドレス</th><th>権限</th>
            <th>変更</th><th>削除</th>
        </tr>
        <th:block th:each="items : ${session.allExecUser}">
            <tr>
                <td><span th:text="${items.id}">1</span></td>
                <td><span th:text="${items.name}">2</span></td>
                <td><span th:text="${items.label}">3</span></td>
                <td><span th:text="${items.email}">4</span></td>
                <td><span th:text="${items.authority}">5</span></td>
                <td>
                    <a href="/AdminUpdate" th:href="@{/AdminUpdate}">
                    	<input type="hidden" name="name" th:value="${items.name}">
				    	<input type="hidden" name="password" th:value="${items.password}">
                       <input type="submit" value="変更">
                    </a>
                </td>
                <td>
                    <a href="/AdminDelete" th:href="@{/AdminDelete}">
                    	<input type="hidden" name="name" th:value="${items.name}">
				    	<input type="hidden" name="password" th:value="${items.password}">
						<input type="submit" value="削除">
                    </a>
                </td>
            </tr>
        </th:block>
    </table>

    <!-- テストの際に使用 -->
    <!--
    <th:block th:object="${session.LoginUser}">
       氏名：<span th:text="*{name}"></span><br>
       パスワード：<span th:text="*{password}"></span><br>
       権限：<span th:text="*{authority}"></span>
    </th:block>
    -->
    </div>
</body>
</html>